# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Maven (保留以防需要)
target/

# IDE
.idea/
*.iml
*/*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
catalina.home_IS_UNDEFINED/

# Other
*.un~
*.swp
rebel.xml
*.tmp
*.bak